.grid-line {
	width: 6px;
	height: 6px;
	background-color: var(--neutral-600);
	position: relative;

	cursor: pointer;

	&--horizontal {
		width: var(--game-grid-box-size);
	}

	&--vertical {
		height: var(--game-grid-box-size);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--neutral-1000);
		transform-origin: center;

		transition: transform var(--transition-duration) var(--transition-timing-function);
	}

	&--horizontal::before {
		transform: scaleX(0%);
	}

	&--vertical::before {
		transform: scaleY(0%);
	}

	&.player-1::before {
		background-color: var(--player-1-color);
	}

	&.player-2::before {
		background-color: var(--player-2-color);
	}

	&.player-3::before {
		background-color: var(--player-3-color);
	}

	&.player-4::before {
		background-color: var(--player-4-color);
	}

	&--horizontal.grid-line--selected::before {
		transform: scaleX(100%);
	}

	&--vertical.grid-line--selected::before {
		transform: scaleY(100%);
	}
}
