.player-card {
	padding: 0.2em 0.4em;

	background-color: hsla(0, 0%, 31%, 0.3);
	border-radius: 4px;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;

	transition: background-color var(--transition-duration) var(--transition-timing-function);

	&--flip-layout {
		flex-direction: row-reverse;
	}

	&__player-icon-wrapper {
		width: 35px;
	}

	&__player-icon {
		width: 100%;
		filter: grayscale(100%);
		opacity: 0.4;
		transition: filter var(--transition-duration) var(--transition-timing-function),
			opacity var(--transition-duration) var(--transition-timing-function);
	}

	&__player-name {
		padding: 0 0.4em;
		font-size: 0.9rem;
		color: var(--neutral-100);
		transform: translateY(2px);
	}

	&--active {
		background-color: hsla(0, 0%, 31%, 1);
	}

	&--active &__player-icon {
		filter: grayscale(0%);
		opacity: 1;
	}
}

@media screen and (max-width: 425px) {
	.player-card {
		flex-direction: column;
	}
}
