.popup-alert {
	padding: 1em;
	width: 90vw;
	max-width: 340px;
	text-align: center;

	&__title {
		font-size: 1.2rem;
		font-weight: 600;
	}

	&__body {
		padding: 1.2em 1em 1em;
		font-size: 0.875rem;
	}
}
