.score-board {
	padding: 1em;
	width: 250px;
	color: var(--neutral-100);
	text-align: center;

	&__title {
		font-size: 1.4rem;
	}

	&__score-container {
		margin: 1em 0;
	}

	&__score-card {
		margin: 0.4em 0;
		padding: 0.2em 0.8em;
		background-color: var(--neutral-800);
		border: 1px solid var(--neutral-600);
		border-radius: 4px;

		display: flex;
		justify-content: flex-start;
		align-items: center;

		& > div:last-child {
			margin-left: auto;
		}
	}

	&__player-icon-wrapper {
		width: 35px;
		margin-right: 0.2em;

		& img {
			width: 100%;
		}
	}

	&__btn-container {
		display: flex;
		flex-direction: column;
	}

	&__btn {
		margin-top: 0.4em;
		padding: 0.4em;
		font-size: 0.9rem;
		letter-spacing: 1px;
		width: 100%;
		background-color: var(--green);
		border: none;
		border-radius: 4px;
		cursor: pointer;

		transition: background-color var(--transition-duration) var(--transition-timing-function);

		&:hover {
			background-color: var(--green-dark);
		}
	}

	&__btn--go-back {
		background-color: transparent;
		border: 1px solid var(--green);
		border-radius: 4px;
	}
}
