.game {
	width: 90%;
	max-width: 600px;

	padding: 3em 2em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__player-cards-wrapper--top,
	&__player-cards-wrapper--bottom {
		display: flex;
		justify-content: space-between;
	}

	.game__game-grid-wrapper {
		margin: 0.6em 0;
	}

	&--5x5 {
		--game-grid-box-size: 50px;
	}

	&--6x6 {
		--game-grid-box-size: 45px;
	}

	&--7x7 {
		--game-grid-box-size: 40px;
	}
}

@media screen and (max-width: 425px) {
	.game {
		width: 100%;
		height: 100vh;
	}
}

@media screen and (max-width: 375px) {
	.game {
		&--5x5 {
			--game-grid-box-size: 42px;
		}

		&--6x6 {
			--game-grid-box-size: 37px;
		}

		&--7x7 {
			--game-grid-box-size: 32px;
		}
	}
}
