.home {
	width: 90vw;
	max-width: 450px;

	padding: 1em;

	&__nav-links-container {
		display: flex;
		flex-direction: column;
	}

	&__nav-links-container a {
		margin: 0.2em 0;
		padding: 0.8em;

		background-color: var(--neutral-900);
		border-radius: 4px;
		color: var(--white);
		text-align: center;
		transition: background-color var(--transition-duration) var(--transition-timing-function);

		&:hover {
			background-color: var(--neutral-700);
		}
	}
}
