.home {
	width: 90vw;
	max-width: 400px;

	padding: 1em;

	&__links-container {
		display: flex;
		flex-direction: column;
	}

	&__links-container a {
		margin: 0.2em 0;
		padding: 0.8em;

		background-color: var(--neutral-900);
		border-radius: 4px;
		color: var(--white);
		text-align: center;
		transition: background-color var(--transition-duration) var(--transition-timing-function);

		&:hover {
			background-color: var(--neutral-700);
		}
	}
}

@media screen and (max-width: 425px) {
	.home {
		&__links-container a {
			font-size: 0.875rem;
		}
	}
}
