.pre-game {
	width: 90vw;
	max-width: 450px;

	padding: 1em;

	&__players-list {
		width: 100%;
		padding: 1em 2em;
	}

	&__player {
		padding: 0.6em 1em;
		margin: 0.4em 0;

		background-color: var(--neutral-900);
		border-radius: 4px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		position: relative;

		&--is-host {
			font-size: 0.7rem;
			font-weight: 700;
			color: var(--neutral-400);
		}
	}

	&__btn-kick {
		position: absolute;
		top: 50%;
		right: 9px;
		transform: translateY(-50%);
		display: flex;
		padding: 0.3em;

		background-color: var(--red);
		border: none;
		border-radius: 4px;

		cursor: pointer;
		transition: background-color var(--transition-duration) var(--transition-timing-function);

		&:hover {
			background-color: var(--red-dark);
		}

		svg {
			width: 1rem;
			height: 1rem;
			transform: rotate(-45deg);
		}

		svg path {
			fill: var(--white);
		}
	}

	&__waiting-message {
		font-size: 0.9rem;
		text-align: center;
	}

	&__btn-start {
		width: auto;
		display: block;
		margin: 0 auto;
	}
}
