.pre-game {
	width: 90vw;
	max-width: 400px;

	padding: 1em;

	&__players-list {
		width: 100%;
	}

	&__player {
		padding: 0.6em 1em;
		margin: 0.4em 0;

		background-color: var(--neutral-900);
		border-radius: 4px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		position: relative;

		&--is-host {
			font-size: 0.76rem;
			font-weight: 600;
			color: var(--neutral-400);
		}
	}

	&__btn-kick {
		position: absolute;
		top: 50%;
		right: 9px;
		transform: translateY(-50%);
		display: flex;
		padding: 0.3em;

		background-color: var(--red);
		border: none;
		border-radius: 4px;

		cursor: pointer;
		transition: background-color var(--transition-duration) var(--transition-timing-function);

		&:hover {
			background-color: var(--red-dark);
		}

		svg {
			width: 1rem;
			height: 1rem;
			transform: rotate(-45deg);
		}

		svg path {
			fill: var(--white);
		}
	}

	&__waiting-message {
		margin-top: 1em;
		font-size: 0.875rem;
		text-align: center;
		color: var(--neutral-300);
	}

	&__room-id-wrapper {
		position: fixed;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, -20px);
		padding: 0.6em 1.2em;

		background-color: var(--neutral-700);
		border-radius: 4px;

		color: var(--neutral-300);
		font-size: 0.875rem;
	}

	&__room-id {
		color: var(--white);
		font-weight: 500;
		letter-spacing: 1.2px;
	}
}

@media screen and (max-width: 425px) {
	.pre-game {
		&__player {
			font-size: 0.875rem;
		}
	}
}
