.setup-room {
	width: 90vw;
	max-width: 450px;

	padding: 1em;

	&__nav-links-container {
		display: flex;
		justify-content: space-between;
		gap: 0.2em;

		margin-bottom: 1em;
	}

	&__nav-links-container a {
		width: 100%;
		padding: 0.6em;

		background-color: var(--neutral-700);
		border-radius: 4px;
		color: var(--white);
		text-align: center;
		font-size: 0.95rem;

		&.nav-link--active {
			background-color: var(--neutral-600);
		}
	}
}
