.input-field {
	margin: 0.8em 0;

	& > label,
	& > &__label {
		font-size: 0.95rem;
	}

	& > select,
	& > input {
		display: block;

		margin-top: 0.2em;
		padding: 0.6em;
		width: 100%;

		font-size: 0.9rem;

		background-color: var(--neutral-900);
		border: none;
		border-radius: 4px;
	}

	& > select {
		cursor: pointer;
	}

	.grid-size-options-container {
		margin-top: 0.2em;
		display: flex;
		justify-content: space-between;
		gap: 0.4em;
	}

	.btn-grid-size {
		padding: 0.6em;

		&--selected {
			background-color: var(--neutral-700);
			border-color: var(--neutral-700);
		}
	}

	&__error {
		font-size: 0.8rem;
		color: var(--red-light);
		letter-spacing: 0.5px;
	}
}

.main-btn-wrapper .btn {
	margin-top: 0.8em;
	padding: 0.6em;
}

@media screen and (max-width: 425px) {
	.input-field {
		.grid-size-options-container {
			flex-direction: column;
		}
	}
}
