:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);

	--green: #1e8449;
	--green-dark: #15713b;

	--blue: #0071e3;

	--red: hsl(0, 100%, 45%);
	--red-light: hsl(0, 88%, 58%);

	--neutral-100: hsl(0, 0%, 95%);
	--neutral-200: hsl(0, 0%, 88%);
	--neutral-300: hsl(0, 0%, 77%);
	--neutral-400: hsl(0, 0%, 62%);
	--neutral-500: hsl(0, 0%, 46%);
	--neutral-600: hsl(0, 0%, 31%);
	--neutral-700: hsl(0, 0%, 23%);
	--neutral-800: hsl(0, 0%, 19%);
	--neutral-900: hsl(0, 0%, 13%);
	--neutral-1000: hsl(0, 0%, 10%);

	--transition-duration: 200ms;
	--transition-timing-function: ease-in-out;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: 3px solid var(--blue);
	z-index: 100;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;

	text-rendering: optimizeSpeed;
	font-synthesis: none;

	font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.2px;
	color: var(--neutral-100);

	overflow: hidden;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #8866aa;
	background-image: radial-gradient(at 72% 93%, hsla(269, 70%, 50%, 1) 0px, transparent 50%),
		radial-gradient(at 11% 70%, hsla(292, 60%, 45%, 1) 0px, transparent 50%),
		radial-gradient(at 61% 27%, hsla(275, 65%, 53%, 1) 0px, transparent 50%),
		radial-gradient(at 27% 96%, hsla(255, 60%, 51%, 1) 0px, transparent 50%),
		radial-gradient(at 49% 40%, hsla(315, 68%, 52%, 1) 0px, transparent 50%),
		radial-gradient(at 58% 20%, hsla(338, 60%, 49%, 1) 0px, transparent 50%),
		radial-gradient(at 50% 60%, hsla(268, 64%, 48%, 1) 0px, transparent 50%);
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: none;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
	letter-spacing: inherit;
	color: inherit;
}

::placeholder {
	font-size: 0.8rem;
	color: var(--neutral-400);
	letter-spacing: 0.5px;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
